header.ast-custom-header {
  z-index: 1000;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 4px;
  height: 100%;

  li.menu-item {
    position: relative;
    height: 100%;
    font-weight: 500;

    > a {
      overflow: hidden;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 1rem;
        height: 4px;
        width: calc(100% - 2rem);
        background-color: var(--ast-global-color-8);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        transform: translate(10px, 10px);
        transition: transform 0.3s ease;
      }
    }

    &:hover {
      .dropdown-content {
        display: block;
      }

      > a:before {
        transform: translate(0);
      }
    }
  }

  a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    color: #000;
    height: 100%;
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    width: max-content;
    min-width: 100%;
    overflow: hidden;

    nav {
      ul {
        display: block;
      }

      li {
        margin-block: 8px;
        line-height: 1.5;
      }

      a {
        padding: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .menu-chevron {
    display: inline-flex;
    margin-left: 8px;
  }
}