/* Gradient Bg Effects */
.gradient-blue-b:before, .gradient-blue-l:before,
.gradient-blue-r:after,
.gradient-blue-bl:before,
.gradient-blue-br:after,
.gradient-blue-tl:before,
.gradient-blue-tr:after,
.gradient-blue-backdrop:before,
.gradient-orange-l:before, 
.gradient-orange-bl:before,
.gradient-orange-br:after,
.gradient-orange-tl:before,
.gradient-orange-tr:after,
.gradient-orange-r:after {
	content: '';
	position: absolute;
	z-index: -1;
}

/* Gradient Positions */
.gradient-blue-b:before {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-blue) 0%, var(--gradient-white) 100%);
	bottom: -25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 50%;
  width: 90%;
}

.gradient-blue-bl:before {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-blue) 0%, var(--gradient-white) 100%);
	bottom: -50%;
	left: -50%;
	height: 100%;
	width: 90%;
}

.gradient-blue-br:after {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-blue) 0%, var(--gradient-white) 100%);
	bottom: -50%;
	right: -50%;
	height: 100%;
	width: 90%;
}

.gradient-blue-tl:before {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-blue) 0%, var(--gradient-white) 100%);
	top: -50%;
	left: -50%;
	height: 100%;
	width: 90%;
}

.gradient-blue-tr:after {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-blue) 0%, var(--gradient-white) 100%);
	top: -50%;
	right: -50%;
	height: 100%;
	width: 90%;
}

.gradient-orange-bl:before {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-orange) 0%, var(--gradient-white) 100%);
	bottom: -50%;
	left: -50%;
	height: 100%;
	width: 90%;
}

.gradient-orange-br:after {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-orange) 0%, var(--gradient-white) 100%);
	bottom: -50%;
	right: -50%;
	height: 100%;
	width: 90%;
}

.gradient-orange-tl:before {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-orange) 0%, var(--gradient-white) 100%);
	top: -50%;
	left: -50%;
	height: 100%;
	width: 90%;
}

.gradient-orange-tr:after {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-orange) 0%, var(--gradient-white) 100%);
	top: -50%;
	right: -50%;
	height: 100%;
	width: 90%;
}

.gradient-blue-l:before {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-blue) 0%, var(--gradient-white) 100%);
	top: 0;
	left: -10%;
	height: 100%;
	width: 25%;
}

.gradient-orange-l:before {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-orange) 0%, var(--gradient-white-light) 100%);
	top: 0;
	left: -25%;
	height: 100%;
	width: 50%;
}

.gradient-blue-r:after {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-blue) 0%, var(--gradient-white) 100%);
	top: 0;
	right: -10%;
	height: 100%;
	width: 25%;
}

.gradient-orange-r:after {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-orange) 0%, var(--gradient-white) 100%);
	top: 0;
	right: -25%;
	height: 100%;
	width: 50%;
}

/* Gradient Modifiers */
.gradient-tl--sm:before {
	top: -25%;
  left: -35%;
  height: 50%;
  width: 60%;
}

.gradient-tr--sm:after {
	top: -25%;
  right: -35%;
  height: 50%;
  width: 60%;
}

.gradient-bl--sm:before {
	bottom: -25%;
  left: -35%;
  height: 50%;
  width: 60%;
}

.gradient-br--sm:after {
	bottom: -25%;
  right: -35%;
  height: 50%;
  width: 60%;
}

.gradient-bl--vertical:before {
	bottom: -50%;
  left: -12%;
  height: 100%;
  width: 25%;
}

.gradient-tr--vertical:after {
	top: -50%;
	right: -12%;
	height: 100%;
  width: 25%;
}

.gradient-l--extend-top:before,
.gradient-r--extend-top:after {
	top: -50%;
  height: 180%;
  width: 20%;
}

.gradient-blue-b--light:before, .gradient-blue-l--light:before,
.gradient-blue-r--light:after {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-blue-light) 0%, var(--gradient-white-light) 100%);
}

.gradient-blue-backdrop:before {
	background: radial-gradient(50% 50% at 50% 50%, var(--gradient-blue) 0%, var(--gradient-white) 100%);
	top: -25%;
	left: -25%;
	height: 120%;
	width: 150%;
}